@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>@ViewBag.Title</h1>
                        <p class="text-muted">Sign In to your account</p>

                        <form method="post">
                            @*<p>ss- @HttpContextAccessor.HttpContext.Session.GetString("Attempts")</p>*@


                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                            </div>


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            </div>
                            @if (Convert.ToInt32(TempData["Attempts"]) > 3)
                            {
                                <div class="input-group mb-3">
                                    <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">Log in</button>
                                </div>
                                <div class="col-6 text-right">
                                    <a asp-page="./ForgotPassword" class="btn btn-link px-0">Forgot your password?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                    <div class="card-body text-center">
                       
                            <img src="~/img/brand/bu_trans.png" class="img-fluid img-thumbnail"  alt="BU Logo" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
