<footer class="app-footer">
    <div>
        Copyright © 2019 Bahria University | All Rights Reserved
    </div>
    <div class="ml-auto">
        Powered by IT Directorate, Bahria University Head office, Islamabad
    </div>
</footer>