<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Bahria University Office Automation System</title>
    <!-- Icons-->
    <link href="~/vendors/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="~/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />*@
    <!-- DataTables -->
    <link href="https://coreui.io/demo/vendors/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <!-- Main styles for this application-->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/treeview.css" rel="stylesheet" />
    <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <partial name="_Header" />
    <div class="app-body">
        <partial name="_Sidebar" />
        <main class="main">
            @RenderBody()
        </main>
        <partial name="_Aside" />
    </div>
    <partial name="_Footer" />
    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/jquery/js/jquery.min.js"></script>
    <script src="~/vendors/popper.js/js/popper.min.js"></script>
    <script src="~/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="~/vendors/coreui/coreui/js/coreui.min.js"></script>
    <!-- DATA TABES SCRIPT -->
    <script src="https://coreui.io/demo/vendors/datatables.net/js/jquery.dataTables.js"></script>
    <script src="https://coreui.io/demo/vendors/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="~/vendors/chart.js/js/Chart.min.js"></script>
    <script src="~/js/treeview.js"></script>
    <script src="~/vendors/coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>

    <link href="~/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/dist/js/bootstrap-multiselect.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.multipleSelect').select2();
                $('.multipleSelect').select2({
                    maximumSelectionLength: 1,
                    tags: true
                });

            });

        </script>*@
    @*<script src="~/js/main.js"></script>*@
    <script type="text/javascript">

        $("#dataTables").DataTable();
        $('#tree1').treed();
        $('#dataTables').attr('style', 'border-collapse: collapse !important');

    </script>
</body>
</html>
