################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OfficeAuto/bin/Debug/netcoreapp2.1
/OfficeAuto/obj
/.vs/OfficeAuto/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
.vs/OfficeAuto/v15/Server/sqlite3/storage.ide
.vs/OfficeAuto/DesignTimeBuild/.dtbcache
.vs/OfficeAuto/v15/.suo
.vs/OfficeAuto/v15/Server/sqlite3/storage.ide
*.ide
.vs/OfficeAuto/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
.vs/OfficeAuto/v15/Server/sqlite3/storage.ide-wal
*.ide-wal
*.ide
*.ide-shm
*.ide
*.ide-wal
.vs/OfficeAuto/v15/Server/sqlite3/storage.ide-wal
.vs/OfficeAuto/v15/Server/sqlite3/storage.ide-shm
.vs/OfficeAuto/v15/Server/sqlite3/storage.ide
.vs/OfficeAuto/DesignTimeBuild/.dtbcache
.vs/OfficeAuto/v16/.suo
OfficeAuto/appsettings.json
