################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OfficeAuto/bin/Debug/netcoreapp2.1
/OfficeAuto/obj
/.vs/OfficeAuto/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
