@model OfficeAuto.Models.ViewModels.RoleViewModel

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a asp-action="Index" asp-controller="Home">Home</a>
    </li>    <li class="breadcrumb-item">
        <a asp-action="">Roles</a>
    </li>
    <li class="breadcrumb-item active">Create Role</li>

    
</ol>
<div class="container-fluid">

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-plus"></i> Create Role
                <div class="card-header-actions">
                    <a asp-action="Index" class = "btn btn-sm btn-success">Back to List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="" method="post">

                            <div class="form-group">
                                <label class="control-label" for="Name">RoleName</label>
                                <input class="form-control" type="text" data-val="true" data-val-required="The RoleName field is required." id="Name" name="Name" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="DeptId">Department</label>
                                <select class="form-control" data-val="true" data-val-required="The Department field is required." id="DeptId" name="DeptId">
                                    <option value="4">DIT</option>
                                    <option value="5">Finance</option>
                                    <option value="6">Planning and Development</option>
                                </select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="DeptId" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default">
                            </div>
                        </form>
                        @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptId" class="control-label"></label>
                <select asp-for="DeptId" class="form-control" asp-items="ViewBag.Departments"></select>
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>*@

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



