@{
    ViewData["Title"] = "Detailed Statistics";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>


</ol>
<div class="container-fluid">

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>Detailed Statistics</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Inbox (<small>Total Unread</small>)
                                    </th>
                                    <th>Outbox</th>
                                    <th>
                                        DFA Sent
                                    </th>
                                    <th>
                                        DFA Recieved
                                    </th>
                                    <th>
                                        Drafts
                                    </th>
                                    <th>
                                        Archives
                                    </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        Cases Files
                                    </td>
                                    <td>
                                        10 (3)
                                    </td>

                                    <td>
                                        15
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                       10
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Letters
                                    </td>
                                    <td>
                                        20 (7)
                                    </td>

                                    <td>
                                        3
                                    </td>

                                    <td>
                                        2
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        5
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Memorandums
                                    </td>
                                    <td>
                                        15 (5)
                                    </td>

                                    <td>
                                        7
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    
                                    <td>
                                        7
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

