@{
    ViewData["Title"] = "Inbox";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Case Files</a>
    </li>
    <li class="breadcrumb-item active">DFA Received</li>


</ol>
<div class="container-fluid">

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>DFA Received</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <form method="post">
                                <div class="row m-4">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Date Received</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option value="all">Today</option>
                                                    <option value="all">This Week</option>
                                                    <option value="all">This Month</option>
                                                    <option value="all">This Year</option>
                                                    <option value="all">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Security</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option value="all">All</option>
                                                    <option value="all">Confidential</option>
                                                    <option value="all">Normal</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table id="dataTables" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Reference #
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>File Owner</th>
                                    <th>Date/Time</th>
                                    <th>Priority</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a asp-controller="Timeline" asp-action="Index">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a asp-controller="Timeline" asp-action="Option2">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a asp-controller="Timeline" asp-action="Option3">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a asp-controller="Timeline" asp-action="Option4">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> BU-EXM-2018-001</a>
                                    </td>
                                    <td>
                                        Upgrade exam system
                                    </td>
                                    <td>John Doe</td>
                                    <td>12-Dec-2018 9:15 AM</td>
                                    <td>Normal</td>
                                    <td><a href="#">History</a></td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

