@{
    ViewData["Title"] = "Dashboard";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>

    
</ol>
<style>
    .tales {
        width: 100%;
    }

    .carousel-inner {
        width: 100%;
        max-height: 150px !important;
    }

</style>
<div class="container-fluid">

    <div class="animated fadeIn">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/slides/slide1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/slides/slide2.png" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h3 class="float-left">Summary</h3>
                <div class="card-header-actions float-right">
                    <a class="btn btn-primary" asp-action="DetailedStats">View Detailed Statistics</a>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Inbox (<small>Total Unread</small>)
                                    </th>
                                    <th>
                                        DFA (<small>Total Unread</small>)
                                    </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        Cases Files
                                    </td>
                                    <td>
                                        <a asp-action="Inbox">10 (3)</a>
                                    </td>

                                    <td>
                                        <a asp-action="Outbox">15 (5)</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Letters
                                    </td>
                                    <td>
                                        <a href="#">20 (7)</a>
                                    </td>

                                    <td>
                                        <a href="#">0 (2)</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Memorandums
                                    </td>
                                    <td>
                                        <a href="#">15 (5)</a>
                                    </td>

                                    <td>
                                        <a href="#">3 (3)</a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/slides/slide3.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/slides/slide4.png" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

