@{
    ViewData["Title"] = "Timeline";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Inbox">Inbox</a></li>
    <li class="breadcrumb-item active">History</li>
</ol>
<div class="container-fluid">

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3 class="float-left">History</h3>
                <div class="card-header-actions float-right">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-success">Back to Home</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-timeline3">
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 1</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 2</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 3</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 4</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 5</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<link href="~/css/timeline/timeline.css" rel="stylesheet">