@{
    ViewData["Title"] = "Timeline";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Case Files</a>
    </li>
    <li class="breadcrumb-item active">Inbox</li>


</ol>
<div class="container-fluid">

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>History</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-timeline3">
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 1</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 2</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 3</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 4</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <span class="year">12/18/2018</span>
                                    <h3 class="title">Mintue 5</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                                    </p>
                                </a>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<link href="~/css/timeline/timeline.css" rel="stylesheet">