@{
    ViewData["Title"] = "Timeline";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Inbox">Inbox</a></li>    <li class="breadcrumb-item active">History</li>
</ol>
<div class="container-fluid">

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3 class="float-left">History</h3>
                <div class="card-header-actions float-right">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-success">Back to Home</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="main-timeline4">
                            <div class="timeline">
                                <div class="timeline-content">
                                    <span class="year"><small>12/18/2018</small></span>
                                    <div class="inner-content">
                                        <h3 class="title"><a href="#">Mintue 1</a></h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <span class="year"><small>12/18/2018</small></span>
                                    <div class="inner-content">
                                        <h3 class="title"><a href="#">Mintue 2</a></h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <span class="year"><small>12/18/2018</small></span>
                                    <div class="inner-content">
                                        <h3 class="title"><a href="#">Mintue 3</a></h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <span class="year"><small>12/18/2018</small></span>
                                    <div class="inner-content">
                                        <h3 class="title"><a href="#">Mintue 4</a></h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <span class="year"><small>12/18/2018</small></span>
                                    <div class="inner-content">
                                        <h3 class="title"><a href="#">Mintue 5</a></h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                          
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<link href="~/css/timeline/timeline.css" rel="stylesheet">