@model OfficeAuto.Models.ViewModels.CaseViewModel
@using OfficeAuto.Helpers;

@{
    ViewData["Title"] = "Create";
}


<h2>Create</h2>

<h4>Minutes</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <input asp-for="Id" value="@ViewBag.CaseId" hidden />
           


            

            <div class="form-group">
                <label asp-for="CaseNumber" class="control-label"></label>
                <input asp-for="CaseNumber" value="@ViewBag.CaseNumber" class="form-control" readonly />
                <span asp-validation-for="CaseNumber" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="MinuteNumber" class="control-label"></label>
                <input asp-for="MinuteNumber" class="form-control" />
                <span asp-validation-for="MinuteNumber" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MinuteTitle" class="control-label"></label>
                <input asp-for="MinuteTitle" class="form-control" />
                <span asp-validation-for="MinuteTitle" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="Description" name="Description" hidden />

                @await Html.PartialAsync("_PartialCKEditor.cshtml")
                @*<div class="editor-full">
                <div id="document-full" class="ql-scroll-y" style="height: 300px;">


                </div>
            </div>*@
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateUpdated" class="control-label"></label>
            <input asp-for="DateUpdated" class="form-control" />
            <span asp-validation-for="DateUpdated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated" class="control-label"></label>
            <input asp-for="DateCreated" class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
            <label class="control-label">Reference Document</label>
            <input type="file" name="files" />

        </div>*@

            @*<partial name="ReferenceUpload.cshtml" />*@
            <div class="form-group">
                <label class="control-label">Reference Document</label>
                <input type="file" name="files" multiple />
            </div>


            <div class="form-group">
                <label asp-for="Flag" class="control-label"></label>
                <select asp-for="Flag" asp-items="Html.GetEnumSelectList<Flag>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>


                <span asp-validation-for="Flag" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Access" class="control-label"></label>
                <select asp-for="Access" asp-items="Html.GetEnumSelectList<Access>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>

                <span asp-validation-for="Access" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" onclick="GetHtml();" />
            </div>

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function GetHtml() {
            //var html = $("<div />").append($("#editor").clone()).html();
            var html = CKEDITOR.instances['editor'].getData(); //document.getElementsByClassName('cke_editable cke_editable_themed cke_contents_ltr cke_show_borders')[0].innerHTML;
            $("#Description").val(html);
        }

    </script>
}

